In [ ]:
# Exercise 1
import pandas as pd 
import numpy as np 
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]


table = list(zip(names,grades,bsdegrees,msdegrees,phddegrees))

df = pd.DataFrame(data=table)
df.to_csv('datasets/Exercises/studentgrades.csv')
excel = pd.ExcelWriter('datasets/Exercises/studentgrades.xlsx',engine='xlsxwriter')
df.to_excel(excel,sheet_name='Student Grades')
excel.save()

In [ ]:
## Exercise 2 
import glob #more than one file at a time?
all_data = pd.DataFrame()
for eachfile in glob.glob("datasets/weekly_call_data/*.xlsx"):
    df = pd.read_excel(eachfile)
    all_data= all_data.append(df,ignore_index=True)

all_data.head()

In [ ]:
## Exercise 3 
from numpy import random

names = ['Akosua','Adwoa','Akua','Yaa','Afua']

random.seed(25)

random_names = [names[random.randint(low=0,high=len(names))] for i in range(250)]

random_numbers = [random.randint(low=1,high=25) for i in range(250)]

parkingtickets = list(zip(random_names,random_numbers))

df = pd.DataFrame(data=parkingtickets)

df.head()

In [ ]:
# Exercise 3 (extra)
import pandas as pd 

missingdata = pd.read_csv('datasets/gradedatamissing.csv')
missingdata.head()

deletedvalues = missingdata
deletedvalues = deletedvalues.dropna()
deletedvalues.count()

In [ ]:
#Exercise 4 

import pandas as pd

# Module 3

In [ ]:
import pandas as pd 

#Exercise 1 (read data)
df = pd.read_csv('datasets/dupedata.csv')
df.head()

In [ ]:
#Exercise 1 (Keep the first items)

duplicates = df.duplicated() 
newvalues = df[duplicates].drop_duplicates(['address'],keep='first')
newvalues

In [12]:
import pandas as pd 

#Exercise 2

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]

GradeList = list(zip(names,grades))

df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])

df.loc[df['Grades']<0,'Grades']=0

df

     Names  Grades
0      Bob      76
1  Jessica       0
2     Mary      77
3     John      78
4      Mel     101

In [29]:
#Exercise 3 - extra challenge
#Still working on this

df = pd.read_csv('datasets/gradedatamissing.csv')
df
#df.loc[df['hours'].isnull(),'hours']=df['hours'].groupby(df['gender']).mean()

AttributeError: 'Series' object has no attribute 'na'